.listagemItens{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.itensColecao{
    text-align: center;

}
body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #252525;
}
.bodyMinhaColecao{
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    background-color: #252525;
}